[Unit]
Description=ProFTPd Server
After=network.target

[Service]
ExecStart=/usr/sbin/proftpd
ExecStop=/bin/kill -s 15 $MAINPID
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
